:root {
  font-size: max(calc(16vmin * 100 / 1440), 16px);
}

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

[hidden] {
  display: none;
}

:focus {
  outline: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
}

body {
  line-height: 1.25;
  min-width: 20rem;
  overscroll-behavior: none;
  hyphens: auto;
  color: white;
  background-color: #18181B;
}

.header {
  margin: 30px;
}
button {
  appearance: none;
  border: none;
  background-color: transparent;
  text-align: center;
}

html {
  font-family: system-ui, sans-serif;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

img,
video {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-left: 30px;
}

.checklist-item {
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #18181B;
  padding: 12px;
  display: flex;
  border-radius: 12px;
  border: 1px solid #3F3F46;
  gap: 4px;
  margin: 0px 10px;
}
.checklist-item-text {
  margin-right: auto;
}
.checklist-item + .checklist-item {
  margin-top: 20px;
}
.add {background-color: #27272A;}

.checkbox {
  background-color: #27272A;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px;
  height: 32px;
  width: 32px;
  border: 1px solid #3F3F46;
}
.icon-empty {
  background-image: url("/public/empty.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 32px;
  width: 32px;
}
.header-done {
  text-align: center;
  font-size: 30px;
  margin: 20px 0px;
}
.undo-text {
  text-decoration: line-through;
  color: #A1A1AA;
}
.empty-text {
  color: #A1A1AA;
}
.checkbox.done {background-image: url("/public/done.svg");}

.checkbox.delete {background-image: url("/public/delete.svg");}

.checkbox.empty {background-image: url("/public/empty.svg");}

.checkbox.undo {background-image: url("/public/undo.svg")}

.add-item {
background-image: url("/public/add.svg");
background-color: #27272A;
}
.empty-text{
  margin-right: 0px;
}
.empty {
  justify-content: center;
}